.form {
	width: 300px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.form input {
	letter-spacing: 1px;
	font-size: var(--font-size-medium);
	padding-left: 5px;
	display: block;
	width: 100%;
	height: 50px;
	background-color: #f5f4f4;
	border: none;
}

.form textarea {
	letter-spacing: 1px;
	font-size: var(--font-size-medium);
	width: 100%;
	height: 150px;
	resize: none;
	background-color: #f5f4f4;
}

.form *::placeholder {
	font-family: var(--secondary-font);
}

.form > * {
	margin-bottom: 10px;
}

.form_btn {
	border: none;
	outline: none;
	height: 50px;
	width: 150px;
	font-weight: 700;
}

@media screen and (min-width: 467px) {
	.form {
		margin-top: 50px;
	}
}

@media screen and (min-width: 767px) {
	.form {
		margin-top: 0px;
	}
}
